.blueprint {
  align-items: flex-start;
  display: flex;
  height: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 24px;
}
.building {
  align-items: flex-start;
  display: flex;
  height: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 24px;
}
.cost-estimator-bg {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c1b397ba70f9d1bdda22ff/img/mask-group-1@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 362px;
  left: 0;
  min-width: 768px;
  position: absolute;
  top: 0;
}
.frame- {
  height: 8px;
  margin-top: 10px;
  width: 768px;
}
.frame--1 {
  height: 1px;
  margin-top: 17px;
  width: 1px;
}
.frame-154 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  min-height: 1428px;
  mix-blend-mode: normal;
  position: relative;
  width: 628px;
}
.frame-156 {
  align-items: flex-start;
  display: flex;
  height: 374px;
  min-width: 628px;
  position: relative;
}
.frame-157 {
  align-items: flex-start;
  display: flex;
  height: 374px;
  margin-top: 24px;
  min-width: 628px;
  position: relative;
}
.frame-158 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 772px;
  width: 628px;
}
.frame-159 {
  align-items: flex-start;
  display: flex;
  margin-bottom: -68px;
  mix-blend-mode: normal;
  width: 1544px;
}
.frame-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 183px;
  min-height: 326px;
  position: relative;
  width: 336px;
}
.frame-160 {
  align-items: flex-end;
  display: flex;
  height: 506px;
  left: 0;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 768px;
}
.frame-162 {
  align-items: flex-start;
  display: flex;
  height: 381px;
  left: 0;
  min-width: 768px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
}
.frame-166 {
  align-items: flex-start;
  display: flex;
  height: 506px;
  left: 0;
  min-width: 768px;
  mix-blend-mode: normal;
  position: absolute;
  top: 361px;
}
.frame-36 {
  height: 8px;
  width: 768px;
}
.frame-37 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 574px;
  opacity: 0.1;
  overflow: hidden;
  width: 1544px;
}
.frame-64 {
  height: 2px;
  margin-top: 13px;
  width: 768px;
}
.frame-65 {
  height: 1px;
  margin-top: 16px;
  width: 1px;
}
.group-142 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 686px;
  width: 628px;
}
.group-143 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 280px;
  width: 632px;
}
.group-144 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 679px;
  width: 628px;
}
.group-145 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 270px;
  width: 632px;
}
.group-146 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 4.0px;
  margin-top: 31px;
  min-height: 222px;
  width: 632px;
}
.group-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c1b397ba70f9d1bdda22ff/img/vector-369@2x.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 20px;
  position: absolute;
  top: 15px;
  width: 2px;
}
.group-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c1b397ba70f9d1bdda22ff/img/vector-60@2x.svg);
  background-size: 100% 100%;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 24px;
}
.our-projects {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 1.0px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.overlap-group {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c1b397ba70f9d1bdda22ff/img/rectangle-69-1@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 666px;
  position: relative;
  width: 768px;
}
.overlap-group1 {
  height: 867px;
  margin-top: 48px;
  position: relative;
  width: 768px;
}
.overlap-group2-6 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c1b397ba70f9d1bdda22ff/img/vector-118@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -0.45px;
  min-height: 25px;
  padding: 0 0.0px;
  width: 24px;
}
.overlap-group2-7 {
  height: 381px;
  position: relative;
  width: 768px;
}
.overlap-group2-8 {
  height: 23px;
  margin-top: -0.8px;
  position: relative;
  width: 25px;
}
.overlap-group2-9 {
  height: 25px;
  margin-top: -0.64px;
  position: relative;
  width: 25px;
}
.overlap-group3-1 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c1b397ba70f9d1bdda22ff/img/vector-119@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  min-width: 23px;
  padding: 3.2px 2.8px;
}
.overlap-group3-2 {
  height: 506px;
  position: relative;
  width: 768px;
}
.packages {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 3.0px;
  margin-top: 40px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.plan {
  align-items: flex-start;
  display: flex;
  height: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 24px;
}
.rectangle-63 {
  background-color: var(--black);
  box-shadow: 0px 1px 3px #00153429;
  height: 362px;
  mix-blend-mode: normal;
  opacity: 0.9;
  width: 768px;
}
.rectangle-7 {
  height: 375px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 628px;
}
.rectangle-70 {
  height: 375px;
  margin-top: 32px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 628px;
}
.span {
  color: var(--black);
}
.span-1 {
  color: var(--red);
}
.span0 {
  letter-spacing: -0.11px;
  line-height: 28px;
}
.span1 {
  letter-spacing: -0.22px;
  line-height: 28px;
}
.span2 {
  letter-spacing: 0;
}
.span2-1 {
  letter-spacing: -0.16px;
  line-height: 48px;
}
.testimonials {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  left: 216px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 92px;
  white-space: nowrap;
  width: 337px;
}
.text-1 {
  color: var(--black);
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 16px;
  min-height: 45px;
  min-width: 630px;
  mix-blend-mode: normal;
  width: 630px;
}
.text-10 {
  color: var(--black);
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 16px;
  min-height: 46px;
  min-width: 630px;
  mix-blend-mode: normal;
  text-align: center;
  width: 630px;
}
.text-19 {
  color: var(--black);
  line-height: 28px;
  margin-left: 2.0px;
  margin-top: 16px;
  min-height: 58px;
  min-width: 630px;
  mix-blend-mode: normal;
  text-align: center;
  width: 630px;
}
.text-2 {
  color: var(--black);
  font-weight: 800;
  height: 20px;
  line-height: 30px;
  margin-bottom: -10px;
  margin-top: 32px;
  min-height: 20px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-26 {
  color: var(--black);
  left: 216px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 132px;
  width: 337px;
}
.text-3 {
  color: transparent;
  line-height: 21px;
  margin-top: 16px;
  min-height: 188px;
  width: 630px;
}
.text-4 {
  color: var(--black);
  font-weight: 800;
  height: 51px;
  line-height: 34px;
  margin-top: 15px;
  min-height: 51px;
  mix-blend-mode: normal;
  width: 337px;
}
.text-5 {
  color: var(--black);
  line-height: 24px;
  margin-top: 16px;
  min-height: 164px;
  mix-blend-mode: normal;
  width: 630px;
}
.text-6 {
  color: var(--black);
  font-weight: 800;
  height: 51px;
  line-height: 34px;
  margin-top: 12px;
  min-height: 51px;
  mix-blend-mode: normal;
  width: 337px;
}
.text-7 {
  color: var(--black);
  line-height: 24px;
  margin-top: 16px;
  min-height: 119px;
  mix-blend-mode: normal;
  width: 630px;
}
.text-8 {
  height: 143px;
  line-height: 16px;
  min-height: 143px;
  width: 285px;
}
.text-9 {
  color: var(--black);
  line-height: 20px;
  margin-top: 24px;
  min-height: 95px;
  mix-blend-mode: normal;
  width: 338px;
}
.vector-16 {
  height: 2px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 2px;
}
.vector-17 {
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 3px;
}
.vector-18 {
  height: 2px;
  margin-right: 3.23px;
  mix-blend-mode: normal;
  width: 1px;
}
.vector-19 {
  height: 3px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 3px;
}
.vector-20 {
  height: 2px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 2px;
}
.vector-21 {
  height: 5px;
  mix-blend-mode: normal;
  width: 8px;
}
.vector-22 {
  height: 3px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 3px;
}
.vector-23 {
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 3px;
}
.vector-24 {
  height: 1px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 6px;
}
.vector-25 {
  height: 12px;
  left: 14px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 11px;
}
.vector-26 {
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 3px;
}
.vector-27 {
  height: 2px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 2px;
}
.vector-28 {
  height: 3px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 3px;
}
.vector-29 {
  height: 1px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 2px;
}
.vector-30 {
  height: 2px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 2px;
}
.vector-31 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 6px;
}
.vector-32 {
  height: 7px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 2px;
}
.vector-33 {
  height: 2px;
  margin-right: 3.23px;
  margin-top: 3px;
  mix-blend-mode: normal;
  width: 1px;
}
.vector-34 {
  height: 2px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 2px;
}
.vector-35 {
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 6px;
}
.vector-36 {
  height: 4px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 3px;
}
.vector-37 {
  height: 3px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 3px;
}
.vector-38 {
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 3px;
}
.vector-39 {
  height: 2px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 2px;
}
.vector-40 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 6px;
}
.vector-41 {
  height: 2px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 2px;
}
.vector-42 {
  height: 2px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 2px;
}
.vector-43 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 6px;
}
.vector-44 {
  height: 14px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 14px;
}
.vector-45 {
  height: 2px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 2px;
}
.vector-46 {
  height: 2px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 2px;
}
.vector-47 {
  height: 11px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 15px;
}
.vector-48 {
  height: 2px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 2px;
}
.vector-49 {
  height: 21px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 18px;
}
.vector-50 {
  height: 1px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 2px;
}
.why-webuild {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 1.0px;
  margin-top: 84px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.x01-landing-pagetablet {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  height: 6822px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 768px;
}
