:root {
  --black: #000000;
  --bon-jour: #e0e0e0;
  --desert-storm: #f7f8f8;
  --mercury: #e5e5e5;
  --red: #cd424a;
  --white: #ffffff;

  --font-size-l2: 16px;
  --font-size-m2: 14px;
  --font-size-s2: 12px;
  --font-size-xl2: 20px;
  --font-size-xxl2: 24px;
  --font-size-xxxl2: 32px;
  --font-size-xxxxl2: 40px;

  --font-family-inter: "Inter", Helvetica;
  --font-family-overpass: "Overpass", Helvetica;
}
.typographyheadlineh2-extrabold-40 {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xxxxl2);
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.4px;
}
.typographyheadlineh4-extrabold-24 {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
}
.typographyheadlineh5-extrabold-20 {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
}
.typographybody16-regular {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.typographybodycaption-14-semi-bold {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}
.typographybodysmall-12-regular {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.typography-body-smalltext-14-regular {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.inter-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}
.overpass-semi-bold-white-16px2 {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 600;
}
.overpass-semi-bold-white-16px-22 {
  color: var(--white);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 600;
}
.overpass-semi-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 600;
}
.overpass-extra-bold-mahogany-40px {
  color: var(--red);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xxxxl2);
  font-style: normal;
  font-weight: 800;
}
.overpass-semi-bold-mahogany-12px {
  color: var(--red);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 600;
}
.overpass-extra-bold-shark-14px {
  color: var(--black);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 800;
}
.border-1px-white {
  border: 1px solid var(--white);
}
