.ellipse-10 {
  background-color: var(--bon-jour);
  border-radius: 8px;
  height: 16px;
  margin-left: 16px;
  mix-blend-mode: normal;
  width: 16px;
}
.ellipse-99 {
  background-color: var(--red);
  border-radius: 8px;
  height: 16px;
  mix-blend-mode: normal;
  width: 16px;
}
.group-141 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: 344px;
  min-width: 80px;
  position: absolute;
  top: 462px;
}
