.instagram {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 16px;
  margin-left: 24px;
  mix-blend-mode: normal;
  padding: 2.2px 2.2px;
  width: 16px;
}
.overlap-group2-5 {
  height: 11px;
  position: relative;
  width: 11px;
}
.vector-13 {
  height: 3px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 3px;
}
.vector-14 {
  height: 10px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}
